.tum-site
{
    background-color: #1f1a1a;
}

.bg-dark
{
    background-color: #49221d !important;
}
.btn-info
{
    background-color: #161212 !important;
    border-color: #a30000 !important;
    color: #666666;
}

#hata
{
    display: none;
}

#basarı
{
    display: none;
}